body {
    margin:0px;
    width: 100vw;
    height: 100vh;
    display:flex;
    font-family: Calibri, sans-serif;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}

#contend {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:palegreen;
}

@media(max-device-aspect-ratio: 8/13) {
    #contend {
        width: 100vw;
        height: calc(100vw / 4 * 6.5);
        --block: 100vw / 4;
    }
}

@media(min-device-aspect-ratio: 8/13) {
    #contend {
        height: 100vh;
        width: calc(100vh / 6.5 * 4);
        --block: 100vh / 6.5;
    }
}

.display {
    display:inline-flex;
    height: calc(1 * var(--block));
    width: calc(4 * var(--block));
    background-color: palegreen;
    align-items: flex-end;
    box-sizing: border-box;
    padding: 0px calc(0.1 * var(--block));
    justify-content: flex-end;
    font-size: calc(0.78 * var(--block));
    font-family: 'Oxanium';
    
    /* texto não selecionável */
    -webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none;            /* Possível implementação no futuro */
    /* cursor: default; */
}

#keyboard {
    background-color:orange;
}

.command, .number, .operation {
    display:inline-flex;
    align-items: center;
    justify-content: center;
    height: calc(1 * var(--block));
    width: calc(1 * var(--block));
    margin:0px;
    padding:0px;
    font-size: calc(0.3 * var(--block));
    font-family: 'Oxanium';
    /* texto não selecionável */
    -webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none;            /* Possível implementação no futuro */
}

#equals {
    width: calc(2 * var(--block));
    background-color: springgreen;
}

.command {
    background-color:#aaa;
}

.operation {
    background-color: tomato;
}

.command:hover, .number:hover, .operation:hover, #equals:hover {
    background-color: plum;
}

footer {
    width: calc(4 * var(--block));
    height: calc(0.5 * var(--block));
    color:#fff;
    font-size: calc(0.2 * var(--block));
    display:inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
}

footer a {
    font-weight: bold;

}
a:visited {
    color: #fff;
}